@using HomeworkMar20.Data;
@model ViewImageViewModel

<div class="row">
    <input type="hidden" id="image-id" value="@Model.Image.Id" />
    <div class="col-md-10 offset-md-1 bg-light p-4 rounded shadow">
        <h1>@Model.Image.Title</h1>
        <img src="/uploads/@Model.Image.ImagePath" style="width: 400px; " />
        <br />
        <br />
        @if(Model.Liked)
        {
            <button data-image-id="@Model.Image.Id" id="like-button" class="btn btn-outline-primary btn-lg disabled">LIKE</button>
        }
        else
        {
            <button data-image-id="@Model.Image.Id" id="like-button" class="btn btn-outline-primary btn-lg">LIKE</button>
        }
        Current Likes: <span id="likes-count">@Model.Image.Likes</span>
    </div>
</div>

@section scripts {
<script src="/js/images.js"></script>
}